<main id="maincontent" class="page-main"> <a id="contentarea" tabindex="-1"></a> <div class="page messages"> <div data-placeholder="messages"></div> <div data-bind="scope: 'messages'"><!-- ko if: cookieMessagesObservable() && cookieMessagesObservable().length > 0 --><!-- /ko --><div aria-atomic="true" role="alert" class="messages" data-bind="foreach: { data: messages().messages, as: 'message' }, afterRender: purgeMessages"></div></div></div><div class="columns"><div class="column main"><input name="form_key" type="hidden" value="OFbfB9ufJbJhyRna"> <div id="authenticationPopup" data-bind="scope:'authenticationPopup'"><!-- ko template: getTemplate() -->


<!-- /ko --></div>    <h1 style="text-align: center;"><span style="font-size: 28px; color: #ff0000;"><strong>Politique de confidentialité</strong></span></h1>
<h2><span style="color: #008080;"><strong><span style="font-size: 24px;">Sommaire</span></strong></span></h2>
<p><span style="font-size: 18px;"><strong><a href="#ph1">1. Les données que nous collectons sur vous</a></strong></span></p>
<p><strong><span style="font-size: 18px;"><a href="#ph2">2. Comment nous utilisons vos données personnelles</a></span></strong></p>
<p><strong><span style="font-size: 18px;"><a href="#ph3">3. Comment nous partageons vos données personnelles</a></span></strong></p>
<p><strong><span style="font-size: 18px;"><a href="#ph4">4. Sécurité des données</a></span></strong></p>
<p><strong><span style="font-size: 18px;"><a href="#ph5">5. Vos droits légaux</a></span></strong></p>
<p><strong><span style="font-size: 18px;"><a href="#ph6">6. Détails complémentaires</a></span></strong></p>
<p>&nbsp;</p>
<p><span style="color: #000000;">bicc attache la plus grande importance à la protection de vos données à caractère personnel et souhaite vous assurer le meilleur niveau de protection de celles-ci en conformité avec les réglementations Tunisiennes applicables en matière de protection des données personnelles.</span></p>
<p><span style="color: #000000;">Dans un souci de transparence, cette rubrique a pour objet de vous expliquer les traitements de données à caractère personnel mis en œuvre dans le cadre de l’utilisation des services proposés par bicc ainsi que la manière dont vous pouvez exercer vos droits sur vos données personnelles.</span></p>
<p>&nbsp;</p>
<h2><span style="font-size: 20px; color: #3366ff;"><strong id="ph1">1- Les données que nous collectons sur vous</strong></span></h2>
<p>&nbsp;</p>
<p><span style="color: #000000;">Nous collectons vos données personnelles afin de fournir et d'améliorer continuellement nos produits et services.</span></p>
<p><span style="color: #000000;">Nous pouvons collecter, utiliser, stocker et transférer les différents types de données personnelles suivantes vous concernant&nbsp;:</span></p>
<p><span style="color: #000000;">- Informations que vous nous fournissez : nous recevons et stockons les informations que vous nous fournissez, y compris vos données d'identité, vos coordonnées, votre adresse de livraison et vos données financières.</span></p>
<ul>
<li><span style="color: #000000;">Informations provenant de tiers et de sources accessibles au public : nous pouvons recevoir des informations vous concernant de tiers, y compris nos transporteurs ; prestataires de services de paiement…</span></li>
</ul>
<h2>&nbsp;</h2>
<h2><span style="color: #3366ff; font-size: 20px;"><strong id="ph2">2- Comment nous utilisons vos données personnelles</strong></span></h2>
<p>&nbsp;</p>
<p><span style="color: #000000;">Nous utilisons vos données personnelles pour exploiter, fournir, développer et améliorer les produits et services que nous proposons, notamment les suivants :</span></p>
<p><span style="color: #000000;">&nbsp; - Vous inscrire en tant que nouveau client.</span></p>
<p><span style="color: #000000;">&nbsp; - Traitement et livraison de vos commandes.</span></p>
<p><span style="color: #000000;">&nbsp; - Gérer votre relation avec nous.</span></p>
<p><span style="color: #000000;">&nbsp; - Vous permettre de participer à des promotions, des concours et des sondages.</span></p>
<p><span style="color: #000000;">&nbsp; - Amélioration de notre site Web, de nos applications, produits et services.</span></p>
<p><span style="color: #000000;">&nbsp; - Recommander / annoncer des produits ou services susceptibles de vous intéresser.</span></p>
<p><span style="color: #000000;">&nbsp; - Respecter nos obligations légales, y compris vérifier votre identité si nécessaire.</span></p>
<p><span style="color: #000000;">&nbsp; - Détecter les fraudes.</span></p>
<p>&nbsp;</p>
<h2><span style="font-size: 20px; color: #3366ff;"><strong id="ph3">3- Comment nous partageons vos données personnelles</strong></span></h2>
<p>&nbsp;</p>
<p><span style="color: #000000;">Nous pouvons être amenés à partager vos données personnelles avec des tiers aux fins suivantes :</span></p>
<p><span style="color: #000000;">&nbsp; - Vente de produits et services: afin de vous livrer vos produits et services achetés sur notre site web à des tiers, nous pouvons être amenés à fournir vos données personnelles à ces tiers.</span></p>
<p><span style="color: #000000;">&nbsp; - Travailler avec des prestataires de services tiers: nous engageons des tiers pour exécuter certaines fonctions en notre nom. Les exemples incluent l'exécution des commandes de produits ou de services, la livraison de packages, l'analyse des données, la fourniture d'une assistance marketing, le traitement des paiements, la transmission de contenu, l'évaluation et la gestion du risque de crédit et la fourniture d'un service client.</span></p>
<p><span style="color: #000000;">&nbsp; - Transferts d'entreprises: à mesure que nous poursuivons le développement de nos activités, nous pouvons vendre ou acheter d'autres entreprises ou services. Dans de telles transactions, les informations client peuvent être transférées avec d'autres actifs commerciaux.</span></p>
<p><span style="color: #000000;">&nbsp;&nbsp; - Détection des fraudes et des abus: Nous communiquons des comptes et autres données personnelles à d'autres sociétés et organisations pour la protection contre la fraude et la réduction des risques de crédit, et pour nous conformer à la loi.</span></p>
<p><span style="color: #000000;">Lorsque nous partageons vos données personnelles avec des tiers, nous :</span></p>
<p><span style="color: #000000;">&nbsp; - leur demandons d’accepter d'utiliser vos données conformément aux termes de la présente notification de confidentialité et de cookies, à notre politique de confidentialité et de protection des données et à la loi en vigueur.</span></p>
<p><span style="color: #000000;">&nbsp; - leur permettons uniquement de traiter vos données personnelles à des fins spécifiées et conformément à nos instructions. Nous n'autorisons pas nos prestataires de services tiers/partenaires à utiliser vos données personnelles à leurs propres fins.</span></p>
<h2>&nbsp;</h2>
<h2><span style="font-size: 20px; color: #3366ff;"><strong id="ph4">4- Sécurité des données</strong></span></h2>
<p>&nbsp;</p>
<p><span style="color: #000000;">Nous avons mis en place des mesures de sécurité appropriées pour éviter que vos données personnelles ne soient accidentellement perdues, utilisées ou consultées de manière non autorisée, modifiées ou divulguées.</span></p>
<p><span style="color: #000000;">En outre, nous limitons l accès à vos données personnelles aux employés, agents, sous-traitants et autres tiers qui ont besoin de les connaître pour exécuter leurs obligations. Ils ne traiteront vos données personnelles que sur nos instructions et sont soumis à un devoir de confidentialité.</span></p>
<p><span style="color: #000000;">Nous avons mis en place des procédures pour faire face à toute violation présumée de données personnelles et vous informerons ainsi que tout organisme de réglementation compétent, de toute violation lorsque nous sommes légalement tenus de le faire.</span></p>
<h2>&nbsp;</h2>
<h2><span style="font-size: 20px; color: #3366ff;"><strong id="ph5">5- Vos droits légaux</strong></span></h2>
<p>&nbsp;</p>
<p><span style="color: #000000;">Il est important que les données personnelles que nous détenons à votre sujet soient exactes et à jour. Veuillez nous tenir informés si vos données personnelles changent pendant votre relation avec nous. Le client est responsable de la mise à jour des informations fournies. Il lui est précisé qu il peut les modifier en se connectant à son compte à l’aide de son adresse mail et de son mode de passe qui sont strictement personnels.</span></p>
<p><span style="color: #000000;">Dans certaines circonstances, vous avez des droits en vertu des lois sur la protection des données en ce qui concerne vos données personnelles, y compris le droit d accéder, de corriger ou de supprimer vos données personnelles et le droit de vous opposer ou de restreindre le traitement de vos données personnelles.</span></p>
<h2>&nbsp;</h2>
<h2><span style="font-size: 20px; color: #3366ff;"><strong id="ph6">6- Détails complémentaires</strong></span></h2>
<p>&nbsp;</p>
<p><span style="color: #000000;">Pour plus de détails et d informations sur la façon dont nous traitons vos données personnelles, ou si vous souhaitez exercer vos droits légaux à l égard de vos données personnelles, veuillez contacter : info@bicc.tn</span></p></div></div></main>
