<div class="columns"><div class="column main"><input name="form_key" type="hidden" value="OFbfB9ufJbJhyRna"> <div id="authenticationPopup" data-bind="scope:'authenticationPopup'"><!-- ko template: getTemplate() -->


<!-- /ko --></div>    <h1 style="text-align: center;"><span style="font-size: 24px; color: #ff0000;"><strong>Conditions Générales de Vente (CGV)</strong></span></h1>
<h2><span style="font-size: 20px; color: #008080;"><strong><u>Article 1&nbsp;: Modalités de Contact</u></strong></span></h2>
<p><strong>- Pour toute information ou conseil</strong>,<span style="color: #000000;"> vous pouvez contacter le Conseiller Clients par téléphone : 36 010 010 (du lundi au Samedi de 8h à 19h et le Dimanche de 9h à 15h.)</span><br><br><strong>- Pour passer une commande</strong>, vous pouvez&nbsp;:</p>
<ul>
<li>Visiter notre site <a href="https://www.bicc.tn">bicc.tn</a></li>
<li>Visiter l’un de nos magasins bicc.</li>
<li>Appeler le service commercial : 36 360 000</li>
</ul>
<p><span style="color: #000000;">du lundi au samedi : de 8h à 19h et le dimanche : de 9h à 15h.<br></span></p>
<ul>
<li>Envoyer les coordonnées (Nom et prénom, téléphone, mail, adresse et référence de produit) par Messenger ou WhatsApp : 22 232 232</li>
</ul>
<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Pour le suivi de votre commande</strong></p>
<p><span style="color: #000000;">&nbsp;Vous pouvez suivre l’état de votre commande, en ligne par l’intermédiaire de votre Espace client, sinon vous pouvez nous contacter :</span><br><span style="color: #000000;">- Par téléphone&nbsp;<strong>: 36 360 000</strong>, du lundi au samedi de 8h à 19h et le dimanche de 9h à 15h.<br>- Par email : <a href="mailto:Livraison@bicc.tn">Livraison@bicc.tn</a></span></p>
<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Pour l’entretien, la réparation ou l’échange&nbsp;: service après-vente</strong>&nbsp;</p>
<p><span style="color: #000000;">Vous pouvez nous contacter :</span><br><span style="color: #000000;">- Par téléphone&nbsp;<strong>: 36&nbsp;010&nbsp;011</strong>, du lundi au samedi de 8h à 17:30<br>- Par email : <a href="mailto:sav@bicc.tn">sav@bicc.tn</a></span></p>
<h2><span style="font-size: 20px; color: #008080;"><strong><u>Article 2&nbsp;: Champ d'application</u></strong></span></h2>
<p><span style="color: #000000;">Les présentes conditions générales de vente (CGV), s'appliquent à toute commande passée à distance par client en qualité de consommateur auprès de bicc, soit directement sur le site Internet de bicc accessible à l’adresse suivante : <a style="color: #000000;" href="https://www.bicc.tn">www.bicc.tn</a> , soit par téléphone : 36 010 010, soit par WhatsApp : 22 232 232 ou par Messenger.</span></p>
<p><span style="color: #000000;">Les présentes Conditions Générales de Vente CGV sont susceptibles d’être modifiées à tout moment par bicc. Il vous appartient de les consulter et de les accepter formellement avant toute commande.</span></p>
<p><span style="color: #000000;">Les CGV applicables sont celles figurant sur le site au moment de votre commande et jointes à l’email de confirmation de votre commande.</span></p>
<p><span style="color: #000000;">Toute commande passée sur le site suppose l'acceptation entière, sans réserve et sans condition des CGV en vigueur au moment de ladite commande. (Prix, Garantie, etc…)</span><strong><br></strong></p>
<h2><span style="font-size: 20px; color: #008080;"><strong><u>Article 3&nbsp;: Compte client&nbsp;</u></strong></span></h2>
<p><span style="color: #000000;">Pour passer une Commande, le Client est invité à créer un compte (espace personnel).</span></p>
<p><span style="color: #000000;">Pour ce faire, il doit s'inscrire en remplissant le formulaire qui lui sera proposé au moment de sa commande et s'engage à fournir des informations exactes et exhaustives concernant ses coordonnées, notamment son adresse email.</span></p>
<p><span style="color: #000000;">Le client est responsable de la mise à jour des informations fournies. Il lui est précisé qu'il peut les modifier en se connectant à son compte à l’aide de son adresse mail et de son mode de passe qui sont strictement personnels. A ce titre, le client s'en interdit toute divulgation. Dans le cas contraire, il restera-seul responsable de l'usage qui en sera fait.</span></p>
<p><span style="color: #000000;">Le Client pourra également solliciter sa désinscription, en envoyant un email à :&nbsp;<a style="color: #000000;" href="mailto:web@bicc.tn">web@bicc.tn</a>&nbsp;celle-ci sera effective dans un délai raisonnable.</span></p>
<p><span style="color: #000000;">En cas de non-respect des conditions générales de vente et/ou d'utilisation, le site <a style="color: #000000;" href="https://www.bicc.tn">www.bicc.tn</a> aura la possibilité de suspendre voire de fermer le compte d'un client après mise en demeure adressée par voie électronique et restée sans effet.</span></p>
<p><span style="color: #000000;">Toute suppression de compte, quel qu’en soit le motif, engendre la suppression pure et simple de toutes informations personnelles du Client.</span></p>
<p><span style="color: #000000;">Tout évènement dû à un cas de force majeure ayant pour conséquence un dysfonctionnement du site ou serveur et sous réserve de toute interruption ou modification en cas de maintenance, n'engage pas la responsabilité du Société.</span></p>
<p><span style="color: #000000;">La création du compte entraine l'acceptation des présentes conditions générales de ventes.</span></p>
<h2><span style="font-size: 20px; color: #008080;"><strong><u>Article 4&nbsp;: Commandes</u></strong></span></h2>
<p>La prise en compte de la commande passée sur le Site est confirmée par l’envoi d’un mail généré automatiquement à l’adresse électronique indiquée lors de la création du compte client. En enregistrant la commande et en sélectionnant un mode de règlement, la vente est réputée conclue (accord sur les articles et le prix).</p>
<p><span style="font-size: 16px; color: #0000ff;"><strong>Disponibilité de produits&nbsp;: </strong></span></p>
<p><span style="color: #000000;">Nos offres de produits et prix sont valables tant qu'elles sont visibles sur le site, dans la limite des stocks disponibles. La disponibilité des produits est indiquée sur chaque fiche produit.</span><br><br><span style="color: #000000;">Pour <strong>les produits non stockés</strong> dans nos entrepôts, nos offres sont valables sous réserve de disponibilité <strong>chez nos fournisseurs</strong>. Dans ce cadre, des indications sur la disponibilité des produits sont fournies au moment de la passation de votre commande. Ces informations provenant directement de nos fournisseurs, des erreurs ou modifications peuvent exceptionnellement survenir.<strong><br></strong></span></p>
<p><span style="color: #000000;">Dans l'éventualité d'une indisponibilité de produits non stockés après passation de votre commande, nous vous en avertirons par email dès réception des informations transmises par les fournisseurs.</span></p>
<p><span style="color: #000000;">A moins que vous ne désiriez une solution de remplacement pour un produit équivalent, votre commande indisponible pourra être annulée sur simple demande de votre part et vous serez remboursé si votre compte bancaire a été débité.</span></p>
<p><strong><span style="font-size: 16px; color: #0000ff;">Modalités de passation des commandes&nbsp;:</span><br></strong>Il est possible de passer une commande auprès de bicc :<br>- Par site web&nbsp;: &nbsp;<a href="https://www.bicc.tn">www.bicc.tn</a></p>
<p>- Par téléphone en appelant : <span style="color: #f50021;"><strong>36 360 000</strong></span><br>- Par Messenger ou WhatsApp&nbsp;: <span style="color: #ff0000;"><strong>22 232 232</strong></span><br><br><span style="color: #000000;">Lors de la passation de votre commande, vous devez confirmer celle-ci par les agents de vente en ligne après avoir sélectionné et ajouté des produits à votre panier, vous devez&nbsp;:&nbsp;</span></p>
<ul>
<li><span style="color: #000000;">Contrôler votre panier et éventuellement corriger le contenu de celui-ci (exemple : identification et quantité de produits sélectionnés, prix correspondants, modalités et frais de livraison)&nbsp;;</span></li>
<li><span style="color: #000000;">Accepter les CGV et votre obligation de paiement de la commande.</span></li>
<li><span style="color: #000000;">Valider votre panier&nbsp;;</span></li>
</ul>
<p><span style="color: #0000ff; font-size: 16px;"><strong>Enregistrement Des Commandes:</strong></span></p>
<p><span style="color: #000000;">Une fois votre commande passée, bicc en accusera réception en vous adressant un email de confirmation de commande comprenant&nbsp;:</span></p>
<ul>
<li><span style="color: #000000;">Le récapitulatif de votre commande&nbsp;: Référence(s) et quantité de produits sélectionnés, montant à payer, modalités et frais de livraison</span></li>
<li><span style="color: #000000;">Numéro de la commande,</span></li>
</ul>
<p><span style="color: #000000;"><strong>Cet email sera envoyé à l’adresse email que vous utilisez pour vous identifier dans votre Espace Client.&nbsp;</strong>Si vous ne recevez pas l’email mentionné ci-dessus, nous vous recommandons de prendre contact avec notre Service Client en appelant <span style="color: #ff0000;"><strong>36 360 000</strong></span>.</span></p>
<h2><span style="font-size: 20px; color: #008080;"><strong><u>Article 5&nbsp;: Prix</u></strong></span></h2>
<p><span style="color: #000000;">Les prix des produits sont indiqués en Dinars Tunisien en TTC (hors frais de livraison). Le prix de vente est celui indiqué sur la fiche produit correspondante, accessible sur le Site. Le montant des frais de livraison est calculé automatiquement en fonction de chaque commande&nbsp;; il figure sur le récapitulatif de votre commande, avant enregistrement définitif.</span></p>
<p><span style="color: #000000;">bicc se réserve le droit de modifier ses prix à tout moment mais les produits seront facturés sur la base des tarifs en vigueur au moment de votre validation de commande.</span><br><br><span style="color: #000000;">bicc ne procédant pas à la réservation de stock (sauf cas particulier de produits signalés en "pré-commande" sur la fiche produit), la mise au panier d'un produit ne permet pas de garantir la disponibilité dudit produit ainsi que son prix.</span></p>
<p><span style="color: #000000;"><strong><span style="font-size: 18px;">Bon de réduction</span> :</strong> Bon d’achat d’un montant prédéfini livré dématérialisé sous forme de code appliqué sur plusieurs Produits bicc et sur le site&nbsp;<a style="color: #000000;" href="https://www.bicc.tn/">www.bicc.tn</a>&nbsp;dans la limite d’un montant et d’une durée de validité prédéfinis.</span></p>
<p><span style="color: #000000;">Lors de processus «&nbsp;passation de commande&nbsp;», vous pouvez saisir le code promo dans le champ «&nbsp;appliquer le code de réduction&nbsp;» pour bénéficier de la remise offerte.</span></p>
<p><span style="color: #000000;">Les bons de réduction ne sont ni échangeables, ni prolongeables.</span></p>
<h2><span style="font-size: 20px; color: #008080;"><strong><u>Article 6 : Modalités de Paiement</u></strong></span></h2>
<p><span style="color: #000000;">Les modalités de paiement acceptés sont notamment indiquées sur la page « <a style="color: #000000;" href="https://www.bicc.tn/paiement">Modes de paiement</a> » du site internet.</span></p>
<p><span style="font-size: 16px; color: #0000ff;"><strong>Paiement en magasin :</strong></span></p>
<ul>
<li>Espèce</li>
<li>TPE (par carte bancaire)</li>
<li>Pass cadeau</li>
</ul>
<p><span style="font-size: 16px; color: #0000ff;"><strong>Paiement à la livraison :</strong></span></p>
<ul>
<li>Espèce</li>
<li>TPE (par carte bancaire)</li>
</ul>
<p><span style="font-size: 16px; color: #0000ff;"><strong>Paiement en ligne :</strong></span></p>
<ul>
<li>Carte bancaire (<strong>Visa, Mastercard, Cartes CIB)</strong></li>
<li>Virement&nbsp;</li>
</ul>
<p><strong>Attention : </strong><span style="color: #000000;">Les articles commandés et payés par virement bancaire restent réservés jusqu’à ce que le virement soit validé par nos services avec un délai maximum de 48h. Dépassant ce délai aucune livraison ne sera effectuée et la commande sera annulée.</span></p>
<ul>
<li>Mandat Postal</li>
</ul>
<p>Une fois votre commande validée avec ce mode de paiement, votre mandat pourra être émis auprès de votre bureau de poste. Après versement du montant de votre commande (liquide, CB ou autres) au guichet du bureau de poste, ce dernier nous transmettra la somme. Le délai de réception et de traitement de ce type de transaction est de à 2-4 jours ouvrés.</p>
<p><strong>Attention&nbsp;:</strong>&nbsp;Les articles commandés et payés par mandat postal restent réservés jusqu’à ce que le paiement soit validé par nos services. Dépassant ce délai aucune livraison ne sera effectuée et la commande sera annulée.</p>
<p><span style="font-size: 16px; color: #0000ff;"><strong>Achat par facilité :</strong></span></p>
<p>&nbsp;<span style="color: #000000;">bicc accorde des facilités de paiement sur 3, 6, 9 et 12 mois :</span></p>
<ul>
<li>Paiement par facilité sur 3 mois&nbsp;: sans intérêt.</li>
<li>Paiement par facilité plus que 3 mois&nbsp;: avec des intérêts*.</li>
</ul>
<p>&nbsp;<span style="color: #000000;">*Vous trouvez les frais supplémentaires dans le tableau de facilité sous l'image de chaque produit sur le site web.</span></p>
<p><span style="color: #000000;">La demande d’achat par facilité se fait sans dossier bancaire, et la réponse vous sera communiquée instantanément sur place. Pour en bénéficier vous devez vous présenter en personne à l’un de nos points de vente avec les documents suivant&nbsp;:</span></p>
<ul>
<li><span style="color: #000000;">Votre carnet de chèques</span></li>
<li><span style="color: #000000;">Carte d’identité nationale + une copie</span></li>
<li><span style="color: #000000;">Relevés ou extraits bancaires des 3 derniers mois (avec cachet de la banque)</span></li>
<li><span style="color: #000000;">La dernière fiche de paie avec cachet</span></li>
</ul>
<p><span style="color: #000000;">L’accord est octroyé après l’étude de la situation professionnelle du client et ses capacités de remboursement.</span></p>
<h2><span style="font-size: 20px; color: #008080;"><strong><u>Article 7&nbsp;: Sécurisation des paiements&nbsp;:</u></strong></span></h2>
<p><span style="color: #000000;">Toutes les transactions bancaires s'effectuent d'une manière sécurisée. Les paiements en ligne sur le site <a style="color: #000000;" href="https://www.bicc.tn">www.bicc.tn</a> sont réalisés via une plateforme de paiement sécurisée ClicToPay, complétée par des mesures de contrôle spécifiques, afin de garantir la sécurité des achats effectués sur le site&nbsp;: ClicToPay est certifié 3-D Secure auprès de toutes les banques tunisiennes. C’est-à-dire La banque en ligne effectue des demandes d’authentification renforcée via l’envoi d’un SMS avec un code à usage unique, appelé certicode. Après avoir saisir ce code votre paiement sera validé et les achats sont validés en ligne via le site internet de votre banque.</span></p>
<p><span style="color: #000000;">Nous vous certifions que les coordonnées de cartes de paiement sont cryptées grâce au protocole SSL (Secure Socket Layer) afin de protéger toutes les données liées aux informations personnelles et aux moyens de paiement et ne transitent jamais en clair sur le réseau. Le paiement est directement effectué auprès de la banque. Les données concernant votre carte de paiement ne sont pas archivées par bicc.</span></p>
<h2><span style="font-size: 20px; color: #008080;"><strong><u>Article 8&nbsp;: Livraison et expédition&nbsp;</u></strong></span></h2>
<p><span style="color: #000000;">bicc peut vous proposer au moment de la passation de votre commande, différents modes de livraison&nbsp;: livraison à domicile ou Parking drive&nbsp;:</span></p>
<ul>
<li><span style="color: #ff0000;"><strong>Livraison à domicile sur toute la Tunisie </strong></span>(dans 48h dans le grand-Tunis)</li>
</ul>
<p><br><span style="color: #000000;">Les conditions, frais et délais de livraison diffèrent en fonction du mode de livraison que vous choisissez.</span></p>
<p><span style="color: #000000;">Vous serez informé, au moment de la passation de votre commande, des modes de livraison disponibles ainsi que les délais et les tarifs applicables.</span></p>
<p><span style="color: #000000;">bicc se charge de l’expédition par le transporteur de son choix.</span></p>
<p><span style="font-size: 16px; color: #0000ff;"><strong>Frais de Livraison&nbsp;:</strong></span></p>
<p><span style="color: #000000;">Les frais de transport sont calculés en fonction du poids et du volume de la commande&nbsp;:</span></p>
<ul>
<li><strong>Livraison gratuite&nbsp;:</strong> bicc vous assure une livraison à domicile gratuite, pour un seul colis dont le montant est supérieur ou égal à 300 dinars et le poids est inférieur ou égal à 30Kg.</li>
<li><strong>Livraison coûte 8 dinars :</strong> si votre achat est inférieur à 300 dinars.</li>
<li><strong>Livraison coûte 30 dinars&nbsp;:</strong> si le colis dépasse 30 Kg (par rapport volume et poids).</li>
</ul>
<p><span style="font-size: 16px; color: #0000ff;"><strong>Délais de Livraison&nbsp;:</strong></span></p>
<p><span style="color: #000000;">Les délais de livraison sont donnés à titre indicatif et informatifs ; ils dépendent notamment de la disponibilité des produits et l’adresse de livraison.</span></p>
<p><span style="color: #000000;">Ces délais sont respectés dans 99% des cas&nbsp;mais peuvent être prolongés pour&nbsp;<strong>des imprévus</strong>. Notamment (Conditions climatiques extrêmes, grèves, jours fériés, covid19, couvre-feu...)</span></p>
<p><span style="font-size: 16px; color: #0000ff;"><strong>Retard de Livraison&nbsp;:</strong></span></p>
<p><span style="color: #000000;">En cas de retard dans la livraison, bicc s’attachera à vous en informer.</span></p>
<p><span style="color: #000000;">Vous pouvez également nous signaler vous-même le retard de livraison via votre Espace Client ou en contactant notre Service Client par téléphone <span style="color: #ff0000;"><strong>36 360 000</strong></span>.</span></p>
<p><span style="color: #000000;">bicc s’engage à faire le nécessaire pour déterminer la cause du retard et trouver une solution adéquate en vue de la livraison effective des produits commandés dans les meilleurs délais.</span></p>
<ul>
<li><span style="color: #ff0000;"><strong>Parking drive&nbsp;:</strong></span></li>
</ul>
<p><span style="color: #000000;">Avec le service bicc drive vous pouvez récupérer votre commande en toute sécurité et sans contact&nbsp;:</span></p>
<ol>
<li><span style="color: #000000;">Passez votre commande sur <a style="color: #000000;" href="https://www.bicc.tn">bicc.tn</a></span></li>
<li>Payer avec la méthode de règlement qui vous plaît</li>
<li><span style="color: #000000;">Vous recevrez un SMS, votre commande sera prête après 3 minutes</span></li>
<li><span style="color: #000000;">Récupérez votre commande au parking de notre MegaStore&nbsp;<strong>Charguia I&nbsp;</strong>:</span></li>
</ol>
<p><span style="color: #000000;">- A votre arrivée, garez-vous au parking.</span></p>
<p><span style="color: #000000;">- Appelez l’agent bicc avec le numéro affiché dans l’SMS reçu en indiquant le numéro de votre commande.</span></p>
<p><span style="color: #000000;">- Un agent bicc vous apportera votre commande</span></p>
<p><span style="color: #000000;">Service disponible&nbsp;<span style="color: #ff0000;"><strong>7jours/7</strong></span><strong>&nbsp;</strong></span></p>
<p><span style="color: #000000;">De&nbsp;<strong><span style="color: #ff0000;">8h à 19h</span>&nbsp;:</strong>&nbsp;du&nbsp;<span style="color: #ff0000;"><strong>lundi au samedi</strong></span></span></p>
<p><span style="color: #000000;">De&nbsp;<strong><span style="color: #ff0000;">9h à 15h</span>&nbsp;:</strong>&nbsp;le&nbsp;<span style="color: #ff0000;"><strong>dimanche</strong></span></span></p>
<h2><span style="font-size: 20px; color: #008080;"><strong><u>Article 9&nbsp;: Réception&nbsp;</u></strong></span></h2>
<p><span style="font-size: 16px; color: #0000ff;"><strong>Accessoire ou pièce manquant</strong></span></p>
<p><span style="color: #000000;">Lors de la réception de votre commande, vous devez vérifier que votre produit est complet (y compris ses accessoires).</span></p>
<p><span style="color: #000000;">Si vous constatez que certains accessoires du produit commandé sont manquants dans votre colis, veuillez prendre contact avec le Service Client de bicc au plus tard dans les deux (2) jours calendaires après réception de votre commande afin que nous puissions traiter votre réclamation.</span></p>
<p><span style="font-size: 16px; color: #0000ff;"><strong>Produits livrés abîmés</strong></span></p>
<p><span style="color: #000000;">Lors de la réception de votre commande, vous constateriez que le produit commandé est abîmé, vous pouvez nous le signaler :</span></p>
<p><span style="color: #000000;">- en contactant le Service Aprés Vente de bicc via le numéro de Téléphone <span style="color: #ff0000;"><strong>36 010 011</strong></span> ou par email: <strong><span style="color: #ff0000;">sav@bicc.tn</span></strong>, au plus tard dans les deux (2) jours calendaires après réception de votre commande.</span></p>
<h2><span style="font-size: 20px; color: #008080;"><strong><u>Article 10&nbsp;: Garantie</u></strong></span></h2>
<p><span style="color: #000000;">Le service après-vente de notre société, se charge du suivi de la marchandise après son achat par le client. Si besoin, il assure l’entretien, la réparation ou l’échange d’un produit vendu par bicc.</span></p>
<p><span style="color: #000000;">La garantie bicc ne couvre pas toute mauvaise manipulation (trace de liquide, casses, réparations à l’extérieur, rayures, inversement de fils, problème système informatique ou mauvaise programmation d’afficheurs, les consommables compatibles…)</span></p>
<p><span style="color: #000000;">Les produits achetés sur notre site&nbsp;: www.bicc.tn bénéficient de la garantie constructeur indiquée sur la fiche produit ou dans la notice jointe avec l'appareil.</span></p>
<p><span style="color: #000000;">Les garanties constructeur peuvent être d’une durée et d’une étendue variable.</span></p>
<p><span style="color: #000000;">Cependant, selon la marque du produit, certains constructeurs ne prennent en charge que les pièces de rechange.</span></p>
<p><span style="font-size: 16px; color: #0000ff;"><strong>En cas de panne</strong></span> <span style="color: #000000;">pendant la période de garantie initiale&nbsp;:</span></p>
<p><span style="color: #000000;">Le client doit se présenter à notre SAV avec la facture d’achat pour déclarer la panne et faire une demande d’intervention.</span></p>
<p><span style="color: #000000;">Les réparations seront assurées gratuitement par les agences techniques agrées par les constructeurs.</span></p>
<p><span style="color: #000000;">S'il n'est pas possible de réparer le produit dans le cadre de l'exécution de la garantie constructeur, un échange ou un avoir tenant compte de la vétusté du produit vous sera proposé.</span></p>
<p><strong>Pour pouvoir bénéficier de la garantie des produits, il vous est demandé de conserver la facture d'achat.</strong>&nbsp;bicc ne pourra en revanche être responsable en cas de refus du constructeur d'appliquer la garantie suite à une mauvaise manipulation, ou toute cause étrangère non couverte par les conditions de garantie du fabricant.</p>
<p><span style="font-size: 16px; color: #ff0000;"><strong>Les exclusions de garantie&nbsp;:</strong></span></p>
<p><span style="color: #000000;">-L’intervention ou le dépannage effectué par des personnes non agrées bicc</span></p>
<p><span style="color: #000000;">-Les dommages imputables à des causes d’origin externe à l’appareil garantie&nbsp;: vol, chutte, inondation, incendie…</span></p>
<p><span style="color: #000000;">-Les dommages résultant d’une utilisation non conforme aux prescriptions du constructeur ou d’un défaut d’entretien ou de nettoyage.</span></p>
<h2><span style="font-size: 20px; color: #008080;"><strong>Article 11&nbsp;: Propriété Intellectuelle</strong></span></h2>
<p><span style="color: #000000;">Tous les documents techniques, fiches produits, photographies, images, marques et bases de données reproduits et intégrés sur le site bicc.tn sont protégés, pour le monde entier, au titre notamment de la propriété intellectuelle et du droit d'auteur. A ce titre et conformément aux dispositions du code de la propriété intellectuelle, seule l'utilisation pour un usage privé est autorisée. Toute reproduction totale ou partielle du site bicc.tn est strictement interdite : tels que notamment la structure du Site et sa charte graphique.</span></p>
<h2><span style="font-size: 20px; color: #008080;"><strong>Article 12&nbsp;: </strong><strong>Responsabilité</strong></span></h2>
<p><span style="color: #000000;">Les produits proposés sont conformes à la législation Tunisienne en vigueur. Les photos sont communiquées à titre illustratif. Nous vous invitons à vous reporter au descriptif de chaque produit pour en connaître les caractéristiques précises ; et en cas de doute ou si vous souhaitez des renseignements complémentaires n'hésitez pas à nous contacter au <span style="color: #ff0000;"><strong>36 360 000</strong></span></span></p>
<p><span style="color: #000000;">Votre compte client et votre mot de passe sont des informations personnelles et strictement confidentielles qui ne peuvent point être utilisées ou communiquées à des tiers. Vous êtes responsable de l'utilisation qui est faite de votre compte client par des tiers, notamment en cas d'imprudence ou de négligence de votre part.</span></p>
<p><span style="color: #000000;">Nos droits d'utilisation des logiciels ainsi que ceux que nous distribuons, vous sont accordés à titre non exclusif, personnel et non transmissible, conformément au Code de la Propriété Intellectuelle.</span></p>
<h2><span style="font-size: 20px; color: #008080;"><strong>Article 13&nbsp;: </strong><strong>Données personnelles</strong></span></h2>
<p><span style="color: #000000;">Les informations nominatives et données personnelles vous concernant sont nécessaires à la gestion de votre commande et à nos relations commerciales. Elles peuvent être transmises aux sociétés qui contribuent à ces relations telles que celles chargées de l'exécution des services et commandes pour leur gestion, exécution, traitement et paiement. Ces informations et données sont également conservées à des fins de sécurité, afin de respecter les obligations légales et réglementaires et ainsi que pour nous permettre d'améliorer et personnaliser les services que nous vous proposons et les informations que nous vous adressons.</span></p>
<p><span style="color: #000000;">En fonction de vos choix émis lors de la création ou consultation de votre compte, vous serez susceptibles de recevoir des offres de notre société, comme indiqué lors de la création de votre compte.</span> <br><br></p></div></div>
